/* Global Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #000;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  /* Header Styles */
  
  header {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a:hover {
    color: rgba(rgb(73, 81, 69), green, blue, alpha);
    text-decoration: underline;
    transition: 0.8s;
    font-size: 30px;
  }
  
  /* Main Content Styles */
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }

  h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lora', serif;
  }

  h1 {
    font-size: 2em;
    color: rgba(rgb(27, 22, 22), green, blue, alpha);
    text-align: center;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
  }
  
  h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 5px;
    background: red;
    transition: all 0.3s ease-in-out;
  }
  
  h1:hover::after {
    bottom: -5px;
    height: 15px;
  }
  

  section h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  ul li {
    margin-bottom: 5px;
    font-size: 2rem;
  }
  
  ul li a:hover {
    color: rgba(rgb(70, 54, 54), green, blue, alpha)
  }

  .left-about-heading {
    width: 60%;
    float: left; /* changed from 'float: right;' */
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
  }
  
  #left-about {
    width: 33%;
    float: top; /* changed from 'float: left;' */
    text-align: center;
  }
  
  #circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
  }
  
  #circle-img {
    background: url('media/redpad.jpg') no-repeat center center;
    background-size: cover;
    width: 300px; 
    height: 300px; 
    border-radius: 50%;
  }
  
  #circle-img:hover {
    transform: scale(1.1) rotate(-5deg);
    filter: hue-rotate(180deg);
    animation: glitch 0.7s infinite;
  }

  @keyframes glitch {
    0% {
      clip-path: inset(0 40% 0 0);
      transform: skew(0deg);
    }
    25% {
      clip-path: inset(50% 0 0 0);
      transform: skew(-5deg);
    }
    50% {
      clip-path: inset(0 0 0 60%);
      transform: skew(0deg);
    }
    75% {
      clip-path: inset(0 0 50% 0);
      transform: skew(5deg);
    }
    100% {
      clip-path: inset(20% 0 0 0);
      transform: skew(0deg);
    }
  }

  
  /* Footer Styles */
  
  footer {
    background-color: #ddd;
    text-align: center;
    padding: 10px;
  }
  