/* Global Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #000;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  /* Header Styles */
  
  header {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a:hover {
    color: rgba(rgb(73, 81, 69), green, blue, alpha);
    text-decoration: underline;
    transition: 0.8s;
    font-size: 30px;
  }
  
  /* Main Content Styles */
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }

  h2 {
    
  }
  
  section h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  
  ul li a:hover {
    color: rgba(rgb(70, 54, 54), green, blue, alpha)
  }

  .brief {
    font-style: italic;
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
    font-size: 40px;
    }

    #brief-circle {
      width: 800px;
      height: 400px;
      border-radius: 50%;
    }

    .circle-img {
      width: 10%;
    }

    .main-img {
      width: 100%;
    }

  
  /* Footer Styles */
  
  footer {
    background-color: #ddd;
    text-align: center;
    padding: 10px;
  }
  